/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: #FFFFFF;
  color: #00695c;
}

.headline {
  font-size: 3rem;
  font-weight: 600;
}

#grid-container {
  max-width: 1750px;
  margin: auto;
  padding: 1rem;
}

#filters-level {

  .level-item {
    margin-right: 2rem;
  }

}

.primary-button {
  background-color: white;
  color: #00695c;
  border: #00695c 1px solid;
}

.grid-item {
  height: 15rem;
  padding: 1rem;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#city-name {
  color: black;
  font-weight: 500;
  font-size: 1.15rem;
}

#country-name {
  color: slategrey;
  font-weight: 400;
  font-size: .85rem;
}